.letras-titulo {
    color: aqua;
    

}

body {
    background-color: brown;
    
}

.modo-oscuro {
    background-color: #222;
    color: white;
}



#miboton{
    background-color: blanchedalmond;

}


.caja {
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: all 0.5s ease; 
}

.animacion {
    transform: translateX(300px);
    background-color: green;
    border-radius: 50%;
}

